.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading {
    text-shadow: 1px 1px #FF0000;
}

.textField {
    margin: 15px 0 !important;
    width: 30%;
    height: 50px;
}

.errorMessage {
    background-color: #f8c4c4;
    border: 1px solid #db1c1c;
    border-radius: 5px;
    padding: 15px 0;
    text-align: center;
    width: 30%;
}

.successMessage {
    background-color: #97faa5ce;
    border: 1px solid #17ee34;
    border-radius: 5px;
    padding: 15px 0;
    text-align: center;
    width: 30%;
}

.button {
    margin: 10px 0;
}

.table {
    width: 600px;
}

.deleteIcon:hover {
    cursor: pointer;
}